*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #176B87;
}
.container{
  max-width: 450px;
background-color: #04364A;
box-sizing: 0px 0px 15px 3px rgba(0, 0, 0, 0.405);
border-radius: 8px;
padding: 20px;
}
.tital{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}
.temp-icon{
  font-size: 45px;
  color: white;
}
h1{
  color: white;
  letter-spacing: 1.2px;
  font-size: 30px;

}

#celsius,#fahr,#kelv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
input{
  flex: 5;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.icon{
  flex: 1;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  text-align: center;
  font-size: 30px;
  background-color: rgb(82, 82, 82);
  color: white;
  border-radius: 0 8px 8px 0;
}
.btn{
  margin-top: 25px;
  text-align: center;

}

.btn button{
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.btn button:hover{
  background-color: black;
  color: white;
}